In [243]:
import numpy as np
import pandas as pd
import string
import math
import random
from sklearn import svm
from sklearn import ensemble
import matplotlib.pyplot as plt
plt.style.use('ggplot')
import re

In [244]:
df = pd.read_csv("/Users/Ellie/Documents/Kaggle/Titanic/train.csv")
result = pd.read_csv("/Users/Ellie/Documents/Kaggle/Titanic/gender_submission.csv")
testing = pd.read_csv("/Users/Ellie/Documents/Kaggle/Titanic/test.csv")
df.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [245]:
# Getting substring for title
def getSubstring(string, substrings):
    for s in substrings:
        if string.find(s) != -1:
            return s
    return np.nan
       

# Replacing all titles with mr, mrs, miss, master
def replace_titles(x):
    title=x['Title']
    if title in ['Don', 'Major', 'Capt', 'Jonkheer', 'Rev', 'Col']:
        return 'Mr'
    elif title in ['Countess', 'Mme']:
        return 'Mrs'
    elif title in ['Mlle', 'Ms']:
        return 'Miss'
    elif title =='Dr':
        if x['Sex']=='Male':
            return 'Mr'
        else:
            return 'Mrs'
    else:
        return title
    
# Replacing missing value for age 
def replace_ages(x, ageGroup):
    age = x['Age']
    if math.isnan(age):
        return ageGroup[x['Pclass']][x['SibSp']]
    else:
        return age

In [246]:
# Add columns of title and last name
title_list=['Mrs', 'Mr', 'Master', 'Miss', 'Major', 'Rev',
                    'Dr', 'Ms', 'Mlle','Col', 'Capt', 'Mme', 'Countess',
                    'Don', 'Jonkheer'] 
df['Title'] = df['Name'].map(lambda x: getSubstring(x, title_list))
df['Title'] = df.apply(replace_titles, axis = 1)
# df['LastName'] = df['Name'].map(lambda x: x.split(',')[0])

In [247]:
# np.unique(df['Pclass'])
# np.unique(df['SibSp'])
# # plt.plot(df[df['Pclass'] == 2 & df['SibSp'] == 2]['Age'])
# a = df['Pclass'] == 0 
# b = df['SibSp'] == 1
# c = df['Age'].isnull() == False
# d = a.tolist() and b.tolist() and c.tolist()
# plt.hist(df[d]['Age'].tolist())
# plt.show()

In [248]:
# Fill the missing values, take the median
ageGroup = df.groupby(['Pclass', 'SibSp'])['Age'].median()
ageGroup[3][8] = df['Age'][df['Pclass'] == 3].median()
df['Age'] = df.apply(lambda x: replace_ages(x, ageGroup), axis = 1)

In [249]:
df.isnull().any()

PassengerId    False
Survived       False
Pclass         False
Name           False
Sex            False
Age            False
SibSp          False
Parch          False
Ticket         False
Fare           False
Cabin           True
Embarked        True
Title          False
dtype: bool

In [250]:
# Replace carbin number, sepatared it into two preditors: Cabin and Cabin number
pattern = '([A-Z]+)([0-9]*)'
int(re.search(pattern, 'C85').group(2))
def replaceCabinNum(name):
    pattern = '([A-Z]+)([0-9]*)'
    num = re.search(pattern, name).group(2)
    if (num == ''):
        return 0
    else:
        return(int(num))
    
cabin_null = df['Cabin'].isnull()
cabin_list = [i for i in range(0, len(df['Cabin'])) if cabin_null[i] == False]
df['Cabin_Al'] = 'Unknown'
df['Cabin_Al'][cabin_list] = df['Cabin'][cabin_list].map(lambda x: re.search(pattern, x).group(1))
df['Cabin_num'] = 0
df['Cabin_num'][cabin_list] = df['Cabin'][cabin_list].apply(replaceCabinNum)

/Users/Ellie/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/Ellie/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [251]:
# Embark only 2 missing values (You can try to replace them)
df = df[df['Embarked'].isnull() == False]
df = df.reset_index(drop=True)

In [252]:
# Check the relationship between family size and survival rate
df['Famiy_size'] = df['SibSp'] + df['Parch']
df['Single'] = (df['Famiy_size'] == 1).astype('int')
df.groupby(['Famiy_size'])['Survived'].mean()

Famiy_size
0     0.300935
1     0.552795
2     0.578431
3     0.724138
4     0.200000
5     0.136364
6     0.333333
7     0.000000
10    0.000000
Name: Survived, dtype: float64

In [326]:
# Reassign the family size
def checkFamilySize(x):
    famSize = x['Famiy_size']
    if famSize == 0:
        return 'Single'
    elif famSize == 1:
        if (x['SibSp'] == 1):
            return 'Couple'
        else:
            return 'Small'
    elif famSize <= 3:
        return 'Small'
    elif famSize <= 6:
        return 'Median'
    else:
        return 'Large'

df['Family'] = df.apply(checkFamilySize, axis = 1)

In [327]:
# Check relationship between fare and survival rate
df['FareGroup'] = df['Fare'].map(lambda x: int(x/10) * 10)
fare = df.groupby(['FareGroup'])['Survived'].mean()
fare
# plt.plot(fare)
# plt.show()
# [i for i in range(0, len(fare)) if fare.iloc[i] == 0.5]

FareGroup
0      0.199405
10     0.424581
20     0.426471
30     0.437500
40     0.266667
50     0.692308
60     0.352941
70     0.586207
80     0.846154
90     0.875000
100    0.500000
110    0.714286
120    1.000000
130    0.857143
140    1.000000
150    0.571429
160    1.000000
210    0.750000
220    0.600000
240    0.500000
260    0.666667
510    1.000000
Name: Survived, dtype: float64

In [258]:

def checkFare(x):
    if x <= 40:
        return 'cheap'
    elif x <= 100:
        return 'middle'
    else:
        return 'expensive'
df['FareGroup'] = df['FareGroup'].map(checkFare)

In [267]:
df['AgeGroup'] = df['Age'].map(lambda x: int(x/5) * 5)
age = df.groupby(['AgeGroup'])['Survived'].mean()
np.unique(df['Pclass'])
df.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Title,Cabin_Al,Cabin_num,Famiy_size,Single,Family,FareGroup,AgeGroup
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,Mr,Unknown,0,1,1,Couple,cheap,20
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,Mrs,C,85,1,1,Couple,middle,35
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,Miss,Unknown,0,0,0,Single,cheap,25

In [268]:
# Deal with the categorical data
df['Sex_male'] = (df['Sex'] == 'male').astype('int')
df['Title_Master'] = (df['Title'] == 'Master').astype('int')
df['Title_Miss'] = (df['Title'] == 'Miss').astype('int')
df['Title_Mr'] = (df['Title'] == 'Mr').astype('int')
df['Title_Mrs'] = (df['Title'] == 'Mrs').astype('int')
df['Cabin_A'] = (df['Cabin_Al'] == 'A').astype('int')
df['Cabin_B'] = (df['Cabin_Al'] == 'B').astype('int')
df['Cabin_C'] = (df['Cabin_Al'] == 'C').astype('int')
df['Cabin_D'] = (df['Cabin_Al'] == 'D').astype('int')
df['Cabin_E'] = (df['Cabin_Al'] == 'E').astype('int')
df['Cabin_F'] = (df['Cabin_Al'] == 'F').astype('int')
df['Cabin_G'] = (df['Cabin_Al'] == 'G').astype('int')
df['Cabin_T'] = (df['Cabin_Al'] == 'T').astype('int')
df['Cabin_Unknown'] = (df['Cabin_Al'] == 'Unknown').astype('int')
df['Embarked_C'] = (df['Embarked'] == 'C').astype('int')
df['Embarked_Q'] = (df['Embarked'] == 'Q').astype('int')
df['Embarked_S'] = (df['Embarked'] == 'S').astype('int')
df['Single'] = (df['Family'] == 'Single').astype('int')
df['Couple'] = (df['Family'] == 'Couple').astype('int')
df['SmallFamily'] = (df['Family'] == 'Small').astype('int')
df['MedianFamily'] = (df['Family'] == 'Median').astype('int')
df['LargeFamily'] = (df['Family'] == 'Large').astype('int')
df['Infant'] = (df['Age'] < 1).astype('int')
df['Elder'] = (df['Age'] > 60).astype('int')
df['Fare_low'] = (df['FareGroup'] == 'cheap').astype('int')
df['Fare_median'] = (df['FareGroup'] == 'middle').astype('int')
df['Fare_high'] = (df['FareGroup'] == 'expensive').astype('int')
df['Pclass_1'] = (df['Pclass'] == 1).astype('int')
df['Pclass_2'] = (df['Pclass'] == 2).astype('int')
df['Pclass_3'] = (df['Pclass'] == 3).astype('int')

In [308]:
sum(df['LargeFamily'] == 1)

13

In [319]:
# drop the unnecessary columns
data = df.drop(['PassengerId', 'Name', 'Ticket', 'Cabin', 'Embarked', 'Sex', 'Title', 'Cabin_Al', 'Family', 'Famiy_size',
               'SibSp', 'Parch', 'Pclass', 'FareGroup', 'Age', 'AgeGroup', 'Survived'], axis = 1)
response = df['Survived']
data.head(3)

,Fare,Cabin_num,Single,Sex_male,Title_Master,Title_Miss,Title_Mr,Title_Mrs,Cabin_A,Cabin_B,...,MedianFamily,LargeFamily,Infant,Elder,Fare_low,Fare_median,Fare_high,Pclass_1,Pclass_2,Pclass_3
0,7.2500,0,0,1,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,0,1
1,71.2833,85,0,0,0,0,0,1,0,0,...,0,0,0,0,0,1,0,1,0,0
2,7.9250,0,1,0,0,1,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1

In [322]:
# perform cross validation, 5 folds
cv_id = []
for i in range(0, 5):
    cv_id.extend([i] * 177)
cv_id.extend([0] * 4) 
random.shuffle(cv_id)

In [323]:
# cross validation 
rate = []
for i in range(0,5):
    train_index = [index for index in range(0, len(df)) if cv_id[index] != i]
    test_index = [index for index in range(0, len(df)) if cv_id[index] == i]
    train = data.iloc[train_index]
    train_response = response.iloc[train_index]
    test = data.iloc[test_index]
    test_response = response.iloc[test_index]
#     clf = svm.LinearSVC(penalty='l2', loss='squared_hinge', dual=True, tol=1e-5)
    clf = ensemble.RandomForestClassifier(n_estimators = 10)
    clf.fit(train, train_response)
    pred = clf.predict(test)
    rate.append(sum(pred == test_response) / len(test_response))
np.mean(rate)

0.81360302150638319